 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi my name is Kartik, I am a Software Developer based in Melbourne. I've been a part of various dev and non-dev teams which has really expanded my skillset. My major interests include Amazon Web Services, Data Science, Software Development & Artificial Intelligence </p>
                </div>
                <div class="col-lg-4">
                    <p>I am probably listening to my spotify playlist with VScode open and some coffee on the side right now. Contact me for roles, collaborations or simply getting a coffee :) </p>
                </div>
            </div>
        </div>
    </section>
